{% extends 'base.html' %}

{% block title %}
    Buddle | Verify
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
    <center>
        <br><br><br>
        <div class="card">
            <div class="card-banner">
                <h1>Email Sent</h1>
            </div>
            <div class="card-inner">
                <p>An Email has been sent to you to complete your registration. <br>
                Go Check your email (it may be in spam) and click on the link to verify.
                </p>
            </div>
        </div>
    </center>
{% endblock %}
